
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.streamplaylistcreator">

    <application
        android:allowBackup="true"
        android:label="Stream Playlist Creator"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>
